body,
html {
  height: 100%;
  width: 100%;
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fff;
  overflow: hidden;
}
.main {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Comfortaa, cursive;
  -webkit-tap-highlight-color: transparent;
}
a,
button {
  cursor: pointer;
}
a:focus,
button:focus {
  outline: inset 4px #ff7300;
}
code {
  background-color: #3e3e3f9f;
  padding: 2px 6px;
  color: #ff7300;
  border-radius: 8px;
}
.m-icon {
  font-family: 'Material Icons Round';
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}
.pg-sec {
  position: absolute;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  background-color: #1f1f1fee;
  padding: 20px;
  overflow: auto;
}
.pg-sec-title {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5;
}
.pg-sec.visible {
  opacity: 1;
  visibility: visible;
}
.sec-ctrl {
  position: absolute;
  background-color: transparent;
  color: #fffffff2;
  border: none;
  font-size: 1.8rem;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-shadow: 1px 1px 0 #999, 1px 2px 0 #999, 1px 3px 0 #999, 1px 4px 0 #999,
    1px 5px 0 #999, 1px 6px 0 #999, 1px 7px 0 #999, 1px 8px 0 #999,
    5px 13px 15px #ffffff80;
}
.sec-ctrl:focus,
.sec-ctrl:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  text-shadow: none;
  mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  mask-size: 200%;
  -webkit-mask-size: 200%;
  -webkit-animation: shine 1.3s infinite;
  animation: shine 1.3s infinite;
  outline: none;
  padding: 16px;
}
.sec-l,
.sec-r {
  bottom: 0;
  top: 0;
  width: 80%;
  height: 100%;
  max-width: 1000px;
}
.sec-t {
  left: 0;
  right: 0;
  top: -100%;
  height: 60%;
  width: 100%;
}
.sec-t.visible {
  top: 0;
}
.sec-t .pg-sec-content {
  line-height: 2;
}
.sec-t .tags {
  margin-top: 16px;
  line-height: 1;
}
.sec-ctrl.t {
  top: 20px;
}
.sec-r {
  right: -100%;
}
.sec-r.visible {
  right: 0;
}
.sec-r .pg-sec-content {
  max-width: 80%;
  margin: auto;
}
.sec-ctrl.r {
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sec-ctrl.r:focus,
.sec-ctrl.r:hover {
  -webkit-transform: rotate(90deg) scale(1.5);
  -ms-transform: rotate(90deg) scale(1.5);
  transform: rotate(90deg) scale(1.5);
}
.sec-b {
  height: 80%;
  width: 100%;
  bottom: -100%;
}
.sec-b.visible {
  bottom: 0;
}
.sec-b .pg-sec-content {
  max-width: 1000px;
  margin: auto;
}
.sec-ctrl.b {
  bottom: 20px;
}
.sec-l {
  left: -100%;
}
.sec-l.visible {
  left: 0;
}
.sec-ctrl.l {
  left: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sec-ctrl.l:focus,
.sec-ctrl.l:hover {
  -webkit-transform: rotate(-90deg) scale(1.5);
  -ms-transform: rotate(-90deg) scale(1.5);
  transform: rotate(-90deg) scale(1.5);
}
.name,
.title {
  margin: 0;
  font-family: 'Fredricka the Great', cursive;
}
.name {
  font-size: 2.4rem;
  margin-bottom: 16px;
}
.title {
  font-size: 1.5rem;
}
.name-title {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.image {
  background-image: url(./assets/images/me.jpg);
  height: 280px;
  width: 280px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 280px;
  flex: 0 0 280px;
  border-radius: 50%;
  background-size: 120%;
  -webkit-box-shadow: inset 0 0 30px 10px #6d6c7980;
  box-shadow: inset 0 0 30px 10px #6d6c7980;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.image:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 100;
}
.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 600px;
}
.name-title.animate:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 100;
  -webkit-animation: 1s blazing infinite alternate linear;
  animation: 1s blazing infinite alternate linear;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
}
.overlay.visible {
  visibility: visible;
  pointer-events: all;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.39);
}
.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.icons .icon-link {
  margin: 0 8px;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.icon-link:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.icon-link:first-of-type {
  margin-left: 0;
}
.icon-link:last-of-type {
  margin-right: 0;
}
.codepen,
.github,
.linkedin {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 100%;
  width: 28px;
  -webkit-filter: invert(1);
  filter: invert(1);
}
.linkedin {
  background-image: url(./assets/images/linkedin.png);
  width: 24px;
  -webkit-filter: brightness(10);
  filter: brightness(10);
}
.github {
  background-image: url(./assets/images/github.png);
}
.codepen {
  background-image: url(./assets/images/codepen.png);
}
.email,
.phone {
  color: #d0d0d1;
  font-size: 28px;
}
.email:hover,
.phone:hover {
  color: #fffffff2;
}
.github:hover {
  -webkit-filter: invert(1) brightness(2) contrast(1);
  filter: invert(1) brightness(2) contrast(1);
}
.angular {
  color: #dd0031;
}
.react {
  color: #61dafb;
}
.javascript {
  color: #f7df1e;
}
.download-resume {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 16px;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgba(255, 115, 0, 0.877);
}
.download-icon {
  margin-right: 6px;
  font-size: inherit;
}
.download-resume:focus,
.download-resume:hover {
  background-color: #ff7300;
}
.download-resume:active {
  background-color: #dd6300;
}
.vue {
  color: #42b883;
}
.projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100% - 68px);
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.project-card {
  background-color: #2c2c2e;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(50% - 40px);
  flex: 0 0 calc(50% - 40px);
  margin: 16px;
  padding: 16px;
}
.project-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.project-title {
  font-weight: 600;
  margin: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.project-body {
  line-height: 1.6;
}
.project-link {
  color: inherit;
}
.project-link:hover {
  color: #ff7300;
}
.go-to-github {
  background-color: #2c2c2e;
  border: none;
  color: #fffffff2;
  padding: 16px;
  width: 40%;
  min-width: 200px;
  max-width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.go-to-github:hover {
  background-color: #38383a;
  background-color: rgba(255, 145, 0, 0.651);
}
.go-to-github:active {
  background-color: #282830;
}
.tag {
  display: inline-block;
  margin: 6px 8px;
  padding: 8px 14px;
  font-size: 0.75rem;
  background-color: #38383a;
  border-radius: 6px;
  cursor: default;
}
.tag:hover {
  background-color: rgba(255, 145, 0, 0.801);
}
.landing {
  margin-right: 16px;
}
.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.sec-r .pg-sec-content.tech-tags {
  margin-top: 24px;
}
.tech-tags .tag {
  padding: 12px 20px;
  margin: 8px 14px;
}
.tech-skill {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100% / 3);
  flex: 0 0 calc(100% / 3);
  margin: 0;
  padding: 20px;
  text-align: center;
}
.skill-cap {
  margin-top: 16px;
}
.rotator {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.unrotator {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.prog-outl,
.prog-val {
  fill: none;
}
.prog-outl {
  stroke: #e6e6e6;
}
.prog-val {
  stroke-linecap: round;
}
@-webkit-keyframes blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 #ff0,
      0 0 5px #ff0, -2px -5px 5px #ff0, 4px -10px 10px #ff0;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 10px orange, 0 0 5px #ff0,
      -2px -5px 5px #ff0, 3px -10px 10px #ff0, -4px -15px 20px #ff0;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px #ff0, 3px -10px 10px #ff0, -4px -15px 20px #ff0,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px #ff0, -4px -10px 10px #ff0,
      2px -10px 10px rgba(255, 255, 0, 0.5), 0 -15px 20px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 #ff0,
      0 0 5px #ff0, -2px -5px 5px #ff0, 4px -10px 10px #ff0;
  }
}
@keyframes blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 #ff0,
      0 0 5px #ff0, -2px -5px 5px #ff0, 4px -10px 10px #ff0;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 10px orange, 0 0 5px #ff0,
      -2px -5px 5px #ff0, 3px -10px 10px #ff0, -4px -15px 20px #ff0;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px #ff0, 3px -10px 10px #ff0, -4px -15px 20px #ff0,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px #ff0, -4px -10px 10px #ff0,
      2px -10px 10px rgba(255, 255, 0, 0.5), 0 -15px 20px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 #ff0,
      0 0 5px #ff0, -2px -5px 5px #ff0, 4px -10px 10px #ff0;
  }
}
@-webkit-keyframes shine {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -50%;
  }
}
@keyframes shine {
  0% {
    -webkit-mask-position: 150%;
  }
  100% {
    -webkit-mask-position: -50%;
  }
}
.timeline {
  position: relative;
}
.timeline-line {
  position: absolute;
  top: 0;
  left: 346px;
  width: 4px;
  background-color: #ffffff80;
}
.timeline-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 20px;
}
.timeline-item .time {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: right;
  margin-top: 2px;
  line-height: 24px;
  font-size: 0.8125rem;
}
.timeline-item .timeline-dot {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin: 0 12px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.timeline-item-title {
  margin-top: 3px;
  margin-bottom: 6px;
  font-size: 1rem;
  font-weight: 600;
}
.timeline-info-list .list-item {
  line-height: 1.4;
  font-size: 0.875rem;
  margin-bottom: 6px;
}
@media screen and (max-width: 800px) {
  .section-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
  }
  .landing {
    margin: 0;
  }
  .image {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 600px) {
  .main {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .section-wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
  }
  .sec-t {
    height: 65%;
  }
  .sec-ctrl {
    position: static;
    margin-bottom: 8px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    text-shadow: none;
  }
  .sec-ctrl:focus,
  .sec-ctrl:hover {
    padding: 0;
  }
  .image {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    height: 180px;
  }
  .project-card {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    margin: 16px 0;
  }
  .timeline-item {
    padding-left: 0;
    padding-right: 0;
  }
  .timeline-item .time {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }
  .tech-tags .tag {
    padding: 8px 14px;
    width: 100%;
    margin: 14px 0;
    display: block;
  }
}
